<div class="container-fluid p-0 m-0">
  <div class="row p-0 m-0" style="height: 100vh;">
    <!-- HWP WebViewer with Custom Component -->
    <div class="col-6 p-0 m-0">
      <app-hwp-viewer modelPath="assets/microengine.scs" (webViewerEvent)="newWebViewer($event)">
      </app-hwp-viewer>
    </div>
    <!-- Controlls -->
    <div class="col-6 p-0 m-0 overflow-scroll" style="height: 100vh">
      <!-- Logo -->
      <nav class="navbar navbar-light bg-light m-0 p-3">
        <span class="navbar-brand m-0 p-0">
          <img src="assets/ts3d_logo.png" class="img-fluid" alt="TechSoft 3D LOGO">
        </span>
      </nav>
      <div class="p-3">
        <h5>Model Structure</h5>
        <p>{{ modelStructureIsReady ? "Model structure is ready" : "Model structure is not ready" }}</p>
        <!-- Operator Selection -->
        <h5>Operator</h5>
        <select class="form-select mb-3" id="operatorType">
          <option value="Orbit">Orbit</option>
          <option value="Area Select">Area Select</option>
          <option value="Select">Select</option>
          <option value="Measure">Measure</option>
        </select>
        <!-- Camera Status -->
        <h5>Camera Status</h5>
        <p *ngIf="!cameraStatus">unavailable</p>
        <div *ngIf="cameraStatus">
          <p class="mb-0"><strong>Position:</strong>
            ({{cameraStatus.position.x.toFixed(2)}}, {{cameraStatus.position.y.toFixed(2)}}, {{cameraStatus.position.z.toFixed(2)}})
          </p>
          <p class="mb-0"><strong>Target:</strong>
            ({{cameraStatus.target.x.toFixed(2)}}, {{cameraStatus.target.y.toFixed(2)}}, {{cameraStatus.target.z.toFixed(2)}})
          </p>
          <p class="mb-0"><strong>Up:</strong>
            ({{cameraStatus.up.x.toFixed(2)}}, {{cameraStatus.up.y.toFixed(2)}}, {{cameraStatus.up.z.toFixed(2)}})
          </p>
          <p class="mb-0"><strong>Width:</strong> {{cameraStatus.width.toFixed(2)}} &nbsp; <strong>Height:</strong> {{cameraStatus.height.toFixed(2)}}</p>
          <p class="mb-0"><strong>Projection:</strong> {{cameraStatus.projection.toFixed(2)}} &nbsp; <strong>NearLimit:</strong> {{cameraStatus.nearLimit.toFixed(2)}}</p>
          <p class="mb-0"><strong>Class Name:</strong> {{cameraStatus.className}}</p>
        </div>
      </div>
    </div>
  </div>
</div>