<div [ngStyle]="{'padding-left.px': level * 20 + 10}" [ngClass]="getSelectionClass()" class="border-bottom d-flex" style="margin-bottom: -1px;">
    <div [ngClass]="getCaretClass()" (click)="toggleCollapse()" class="py-1"></div>
    <div (click)="selectModel()" class="py-1 flex-fill cursor-pointer">{{ nodeName }}</div>
</div>
<app-model-tree-item *ngFor="let child of children" [ngClass]="{'d-none': isCollapsed}" [modelTree]="modelTree" [hwv]="hwv" [nodeId]="child"
    [level]="level+1"></app-model-tree-item>